@font-face{
	font-family:Adam-CG;
	src:url('../fonts/ADAM.CG PRO.woff');
}

nav{
	z-index: 11 !important;
}
.nav-color{
	background-color: #8EAEBD !important; /* light blue color */
}

.header-color{
	background-color: #f67a00 !important; /* orange color */
}

.card-head-color{
	background-color: #C7A16D !important; /* light brown color */
}

#eye:hover{
	cursor: pointer;
}

.name-div{
	position: relative;
	padding-top: 25px;
	padding-left: 5px;
	font-family:Adam-CG;
	margin-left: 20px;
}

.font-adam{
	font-family:Adam-CG;
}

.menu-div{
	text-align: right;
}

.content-div{
	margin-left: 50px; 
	margin-top: 20px;
}

.image-div{
	padding-right: 0px;
	padding-top: 15px;
}

.login-top{
	margin-top: 150px; /* margin of login-form */
}
.register-top{
	margin-top: 100px; /* margin of register-form */
}

.small-only{
	display: none;
}

.friend-box{
	margin: 10px 0px;
	background-color: #8EAEBD !important;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 190px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 10; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #f1f1f1;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 90px;
    padding-left: 30px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    font-family: lato;
    color: black;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #959595;
    cursor: pointer;
}

/* Style page content */
.main {
    margin-left: 190px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    top: 70px;
    position: relative;
}

.small-center{
	padding-top: 5px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

@media only screen and (max-width: 600px){
	.sidenav {display: none;}
	
	.small-only{
		display: block;
	}
	.small-center{
		padding-top: 10px;
		text-align: center !important;
	}

	.main {
	    margin-left: 0px; /* Same as the width of the sidebar */
	    padding: 0px 10px;
	}
    .sidenav a {font-size: 18px;}
	
	.name-div{
		position: relative;
		padding-top: 25px;
		padding-left: 0px;
		text-align: center;
		margin-left: 0px;
	}
	.image-div{
		padding-left: 0px;
	}

	.tab-title{
		width: 80%;
	}

	.menu-div{
		width: 20%;
	}

}